body {
  font-family: Helvetica, Arial, Verdana, "sans-serif";
}

hr {
	background-color: grey; 
	height: 20px; 
	margin-left:-15px;
	margin-right:-15px
}

div.spaced-list > ul > li {
	padding-bottom: 10px;
}

div.tight-list > ul > li {
	padding-bottom: 0px;
}


a {
	color: blue;
}

div.cats > p > img {
	width: 100px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

